In [95]:
# This way we can add comments in python 
'''
This is a 
multiline commenet 
okay 
'''

''' If we want to comment out certain line of codes we have to "Select it and the press CTRL+/
Like 
'''
# print("Hello")
# Print("Hello World") # Remember Python is a case sensitive language
# print("hey ")

' If we want to comment out certain line of codes we have to "Select it and the press CTRL+/\nLike \n'

In [96]:
"""
fundamental data types

int 
float
string
boolean
"""

'\nfundamental data types\n\nint \nfloat\nstring\nboolean\n'

In [71]:
# PREDEFINED FUNCTION FOR FINDING DATATYPE 
name='Ayush'
print(type(name)) # USED TO RETURN DATATYPE
age=23
print(type(age))
CGPA=9.3
print(type(CGPA))

<class 'str'>
<class 'int'>
<class 'float'>

In [81]:
# DATAYPES CONVERSION
name='Ayush'
age=23
print(name+' '+str(age)) # INTEGER CAN BE CONVERTED TO STRING
CGPA=9.3
print(name+' '+str(CGPA)+' '+str(age)) # FLOAT CAN BE CONVERTED TO STRING
# print(int(name)+' '+age) # STRING CANNOT BE CONVERTED TO A INTEGER
# print(float(name)+CGPA) # STRING CANNOT BE CONVERTED TO fLOAT
print(float(age)+CGPA) # INT CAN BE CONVERTED TO A FLOAT

Ayush 23
Ayush 9.3 23
32.3

In [91]:
#OPERATORS
# INT_INT
print(12+12)
print(25/4) # divides exactly to give an answer
print(25//4) # retuens qoutient
print(25%4) # modulus operator return remainder
print(5**3) # second no raised power of first no.

24
6.25
6
1
125

In [92]:
# INT - FLOAT OPERATIONS
# ALL OPERATIONS CAN BE PERFORMED
print(12*3.5)
print(25/4.3)
print(25//4.3)
print(25%4.3)
print(25**4.3)

42.0
5.813953488372094
5.0
3.500000000000001
1025987.423595221

In [29]:
# INT- BOOLEAN OPERATIONS
print(25+True) # Booloean is consider as true or false therefore it adds 1
print(25*False) # Booloean is consider as true or false therefore it multiplies 0
print(25/True) # After dividing data returned is in float type 
print(25//True)
print(25%True) # remainder here is 0
print(25** False) # False is 0 so something to the power 0 is 0

26
0
25.0
25
0
1

In [32]:
# BOOlean- BOOLean OPERATIONS
print(True+True) # Booloean is consider as true or false therefore it adds 1 and 1
print(True*False) # Booloean is consider as true or false therefore it multiplies 1 with 0
print(False/True) # After dividing data returned is in float type 
print(True//True)
print(False%True) # remainder here is 0
print(True** False)

2
0
0.0
1
0
1

In [55]:
# INT-STRING OPERATIONS
#print(25+'Trkue') # INT cannot be directly added to a string
print(25*'Fajlse ') # multiplication multiples the string 25 times
#print(25/'Trjue') # INT and Strings cannot be divided together
#print('Trjue'//25) # Floor division cannot be done with INT and String
#print('Trjue'%25) # rmodulus operator cannot be used between INT and string
#print(25** 'Fajlse') # power operator doesnt work between int and string

Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse Fajlse

In [56]:
# STRING-STRING OPERATIONS
print('25'+'Trkue') # 2 strings can be added together
#print('Trjue'/'25') # two strings cannot be divided
#print('Trjue'//'25') # Floor division cannot be done between two strings 
#print('Trjue'%'25') # rmodulus operator cannot be used between two strings
#print('25'** 'Fajlse') # power operator doesnt work

25Trkue

In [66]:
# FLOAT_STRING OPERATIONS
# print(25.5+'Trkue') # Float cannot be directly added to a string
# print(25.5*'Fajlse ') # multiplicationdoesnt work in float and string
# print(25.5/'Trjue') # FLOAT and Strings cannot be divided together
# print('Trjue'//25.5) # Floor division cannot be done with FLOAT and String
# print('Trjue'%25.5) # rmodulus operator cannot be used between Float and string
# print(25.5** 'Fajlse') # power operator doesnt work between float and string
#"" INDENTATION ALSO MATTERS IN PYTHON

In [85]:
# BASIC STRUCTURE OF GETTING INPUT AND THEN DISPLAYING AFTER PERFORMING CERTAIN OPERATIONS
name= input(int("Enter your Name :- ")) # input() FUNCTION IS USED TO GET INPUT FROM USER WHILE DISPLAYING A NAME
age= input("Enter your age :- ")
CGPa= input("Enter your CGPA :- ")
print(name, age, CGPa)
print('How are you ?', name, age, CGPa)

Enter your Name :-  sahil
Enter your age :-  53
Enter your CGPA :-  9

sahil 53 9
How are you ? sahil 53 9

In [90]:
# FIND SIMPLE INTEREST 
p=int(input("Enter the amount you deposited:- "))
r=float(input("Enter the rate of intrest:- "))
t=int(input("Enter the time period for which you want to deposit money:- "))
SI=(p*r*t)/100
amt=p+SI
print('Your simple intrest over a period of ' ,t,' years at a rate of ',r,' is :- ',SI)
print('Your Total amount over a period of ' ,t,' years at a rate of ',r,' is :- ',amt)

Enter the amount you deposited:-  10000
Enter the rate of intrest:-  5.2
Enter the time period for which you want to deposit money:-  10

Your simple intrest over a period of  10  years at a rate of  5.2  is :-  5200.0
Your Total amount over a period of  10  years at a rate of  5.2  is :-  15200.0